In [71]:
import time
import pandas as pd
import numpy as np
import random

import altair as alt

In [12]:
start_time = begin()

In [13]:
end_time = end()

In [15]:
duration = end_time - start_time
duration

2.9826407432556152

In [61]:
class Observation():
    
    def __init__(self, name, task):
        self.self = self
        self.name = name
        self.task = task
    
    def begin(self):
    
        self.start_time = time.time()
        
    def end(self):
    
        self.end_time = time.time()
        self.duration = self.end_time - self.start_time
        
    def get_mean(self, times):
        
        self.avg = np.mean(times)

In [63]:
test = Observation('Steve', 'Step1')
times = []

for i in range(10):
    
    test.begin()
    time.sleep(2 * random.random())
    test.end()
    times.append(test.duration)

In [69]:
test.get_mean(times)

In [65]:
# times

In [70]:
pd.DataFrame({
    "time": times,
    "name": test.name,
    'task': test.task,
    'mean': test.avg
})

       time   name   task      mean
0  1.724474  Steve  Step1  0.666385
1  0.884545  Steve  Step1  0.666385
2  0.427048  Steve  Step1  0.666385
3  1.532977  Steve  Step1  0.666385
4  0.066340  Steve  Step1  0.666385
5  0.260187  Steve  Step1  0.666385
6  0.707831  Steve  Step1  0.666385
7  0.932507  Steve  Step1  0.666385
8  0.121939  Steve  Step1  0.666385
9  0.006002  Steve  Step1  0.666385